/lib/shared/features/otp/data/models/otp_model_response/profile_data_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/profile_data_model_response.g.dart
/lib/shared/services/local/Hive/user_local_storage/user/user_model.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_work_experience_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_work_experience_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_skill_id_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_skill_id_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_qualification_model_response_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_qualification_model_response_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_payment_details_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_payment_details_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_location_model_response_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_location_model_response_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_full_profile_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_full_profile_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_business_model_response.g.dart
/lib/shared/features/otp/data/models/otp_model_response/otp_business_model_response.freezed.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_submit_remote_skills_and_industry_model_response.g.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_submit_remote_skills_and_industry_model_response.freezed.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_skills_page_model_response.g.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_skills_page_model_response.freezed.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_skills_model_response.g.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_skills_model_response.freezed.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_skills_list_model_response.g.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_skills_list_model_response.freezed.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_industry_model_response.g.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_industry_model_response.freezed.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_industry_list_model_response.g.dart
/lib/features/add_skills/data/response_models/add_skills_model_response/add_skills_industry_list_model_response.freezed.dart
