/lib/shared/features/otp/data/models/otp_model_response/profile_data_model_response.freezed.dart
/lib/shared/features/otp/data/models/otp_model_response/profile_data_model_response.g.dart
/lib/shared/services/local/Hive/user_local_storage/user/user_model.g.dart
